body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.blog-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

.blog-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1rem; */
    padding: 1rem;
    margin: 0 3rem 4rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(255, 255, 255, 0.1);
    margin-left: 15rem;
    margin-right: 15rem;
}

.blog-post img {
    width: 6rem;
    height: auto;
    border-radius: 0.3rem;
    object-fit: cover;
}

.blog-content {
    flex: 1;
    text-align: left;
}

.blog-content h2 {
    color: #6beeff;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.blog-content p {
    color: #ccc;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.blog-content a {
    color: #6beeff;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .blog-post {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 1rem 1rem 1rem;
    }

    .blog-post img {
        width: 100%;
        max-width: 12rem;
    }
}
